**DS_Store
**__old__**

__logs__
__cache__

.vscode
.venv
.cache
.claude
uv.lock
.python-version

beans
Figures
checkpoints_fusion_stage_a

Data
Notes
NatureLM-audio

list
exps
experiments
birdnoise

Scripts/wandb